name: Build and Deploy

on:
  push:
    branches: [main]

env:
  IMAGE_NAME: akhormi/todo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract short SHA
        id: vars
        run: echo "TAG=git-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.TAG }}

      - name: Update Kubernetes manifest with new image tag
        run: |
          sed -i "s|${IMAGE_NAME}:.*|${IMAGE_NAME}:${{ steps.vars.outputs.TAG }}|g" k8s/todo.yaml

      - name: Commit and push updated manifest
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update image tag to ${{ steps.vars.outputs.TAG }}"
          file_pattern: "k8s/todo.yaml"
